
// DarkSlateGray
$main-color: #273939;
$second-main-color: #182323;
$form-text: rgba(195, 217, 212, 0.952);
$text: rgb(239, 235, 235);
$heading: 'Helvetica', sans-serif;
$link-color: rgba(111, 205, 210, 0.637);

.app {
    font-family: 'Times New Roman', Times, serif;

    .container {
        //SIGN IN & SIGN UP page
        .auth {
            color: $text;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $main-color;



            h6 {
                font-size: 10.5px;

                s {
                    color: $link-color;
                    text-decoration: none;
                }
            }

            h1 {
                font-family: $heading;
                font-size: 30px;
            }

            .form {
                border: 1px solid 182323;
                border-radius: 5px;
                box-shadow: 0.5px 1px 6px rgba(136, 145, 138, 0.529);
                background-color: $second-main-color;
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 35px;


                input {
                    color: $form-text;
                    background-color: $second-main-color;
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                    padding-left: 10px;
                }

                i {
                    padding: 7px;
                }

                button {
                    width: 100%;
                    margin-top: 18px;
                    padding: 7px;
                    font-size: 12px;
                    color: $second-main-color;
                }
            }
            // Autentication homepage
            .hp {
                width: 60%;

                i:hover {
                    color: $second-main-color;
                    text-shadow: 1px 1px 5px rgba(245, 245, 245, 0.689);
                }

                p {
                    font-size: 13px;
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .sign-in-icons {
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    i {
                        margin-left: 10px;
                        margin-right: 10px;
                        font-size: 35px;
                    }
                }


                .logo {
                    margin-bottom: 10px;

                    h3 {
                        font-family: $heading;
                        font-size: 15px;
                    }

                    img {
                        width: 285px;
                        height: auto;
                        position: relative;
                        left: -14%;
                        right: 20%;
                        margin-bottom: 30px;
                    }
                }

                button {
                    width: 100%;
                    margin-top: 18px;
                    padding: 20px;
                    font-size: 12px;
                    color: $second-main-color;
                }
            }

            button:hover {
                color: white;
                background-color: $second-main-color;
                border: none;
                border-radius: 5px;
                box-shadow: 1px 1px 4px rgba(142, 142, 142, 0.288);
            }
        }
        // HOMEPAGE
        .home {
            .acc-icon {
                font-size: 35px;
                position: absolute;
                top: 30px;
                right: 30px;
                color: white;
            }

            i {
                color: white;
            }

            .acc-icon:hover {
                color: $second-main-color;
                text-shadow: 1px 1px 5px rgba(245, 245, 245, 0.689);
            }

            .calendar-item {
                display: inline-block;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                text-align: center;
                line-height: 30px;
                font-weight: bold;
            }

            .current-date {
                background-color: green;
                color: white;
            }

            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100vh;
            background-color: $main-color;
            flex-direction: column;


            button {
                color: $second-main-color;
                width: 216px;
                height: 54px;
                margin: 7px;
            }

            button:hover {
                color: white;
                background-color: $second-main-color;
                border: none;
                border-radius: 5px;
                box-shadow: 1px 1px 4px rgba(142, 142, 142, 0.288);
            }
        }
        //MY PLANS
        .my-plans-hp {
            .calendar-row {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 30px 0px;
                text: $text
            }

            .weekday-label {
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 1;
                height: 30px;
                font-weight: bold;
            }

            .calendar-item {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 80px;
                height: 50px;
                border-radius: 40%;
                text-align: center;
                font-weight: bold;
                transition: background-color 0.3s;
            }

            .calendar-item:hover {
                background-color: gray;
                box-shadow: 1px 1px 4px rgba(142, 142, 142, 0.288);
            }

            .current-date {
                background-color: #68ab87;
                color: white;
            }

            .additional-div.flex-container {
                display: flex;
                align-items: center;
            }

            .additional-div.flex-container h2 {
                margin-right: 10px;
                color: #68ab87;
            }

            .additional-div.flex-container img {
                max-width: 200px; /* Increase the width as desired */
                height: auto;
                margin-left: auto; /* Move the image to the right */
            }

            .additional-div.grid-container {
                display: grid;
                grid-template-columns: 1fr 0fr;
                grid-gap: 20px;
            }

            .additional-div.grid-container a {
                text-decoration: none; /* Remove underline from links */
            }

            .additional-div.daily-workout {
                background-color: rgba(51, 102, 204, 0.57);
                border-radius: 10px; /* Adjust the radius as desired */
                overflow: hidden;
                width: 150px; /* Adjust the width as desired */
                height: 150px; /* Adjust the height as desired */
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .additional-div.meal-plan {
                background-color: #68ab87;
                border-radius: 10px;
                overflow: hidden;
                width: 150px;
                height: 150px;
                display: flex;
                justify-content: center;
                align-items: center;
                ;
                border-radius: 10px; /* Adjust the radius as desired */
                overflow: hidden;
                width: 150px; /* Adjust the width as desired */
                height: 150px; /* Adjust the height as desired */
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .additional-div.daily-workout a,
            .additional-div.meal-plan a {
                text-decoration: none; /* Remove underline from links */
                color: white; /* Set the text color */
                font-weight: bold; /* Set the font weight */
            }

            .motivational-quote {
                width: 100%;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .motivational-quote p {
                text-align: center;
                font-size: 24px;
                font-weight: bold;
                color: #68ab87;
            }
        }
        // WORKOUT & NUTRITION PLAN FORM
        .plan-form {
            color: $text;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $main-color;

            h4 {
                font-family: $heading;
                font-size: 28px;
                margin-left: 30px;
                position: absolute;
                top: 6%;
            }

            button {
                width: 290px;
                height: 54px;
                color: $second-main-color;
                font-size: 12px;
                position: absolute;
                bottom: 15%;
                left: 10%;
            }

            button:hover {
                color: white;
                background-color: $second-main-color;
                border: none;
                border-radius: 5px;
                box-shadow: 1px 1px 4px rgba(142, 142, 142, 0.288);
            }
        }

        .forms-header {
            background-color: $main-color;

            i {
                color: white;
                font-size: 35px;
                position: absolute;
                top: 25px;
                left: 25px;
                color: white;
            }

            i:hover {
                color: $second-main-color;
                text-shadow: 1px 1px 5px rgba(245, 245, 245, 0.174);
            }
        }
        // Forms - questions
        .q {
            color: $text;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $main-color;

            .header {
                font-family: $heading;
                font-size: 28px;
                position: absolute;
                top: 6%;
            }

            p {
                position: absolute;
                top: 34%;
                left: 10%;
                font-size: 18px;
            }

            .form {
                position: absolute;
                left: 20%;
                font-size: 15px;
            }

            .b1 {
                width: 40%;
                height: 54px;
                position: absolute;
                bottom: 40px;
                right: 7%;
            }

            .b1:hover, .b2:hover, .s1:hover, .s2:hover {
                color: white;
                background-color: $second-main-color;
                border: none;
                border-radius: 5px;
                box-shadow: 1px 1px 4px rgba(142, 142, 142, 0.288);
            }


            .b2 {
                width: 40%;
                height: 54px;
                position: absolute;
                bottom: 40px;
                left: 7%;
            }

            .popup {
                background-color: #11212189;
                width: 70%;
                padding: 17px;
                border-radius: 10px;
                box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.588);
                text-align: center;
            }

            .s1, .s2 {
                width: 30%;
                padding: 15px;
                margin: 10px;
                position: relative;
                margin-top: 30px;
                color: $second-main-color;
            }
        }
    }

    .img {
        width: 200px;
        height: auto;
    }

    .img1 {
        width: 279px;
        height: auto;
    }

    .img2 {
        width: 279px;
        height: auto;
    }

    .img3 {
        width: 278px;
        height: auto;
    }

    .img4 {
        width: 278px;
        height: auto;
    }

    .img5 {
        width: 272px;
        height: auto;
    }

    .img6 {
        width: 280px;
        height: auto;
    }

    .account-page {
        color: $text;
        height: 95vh;
        background-color: $main-color;
    }

    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
    }

    .account-pic {
        display: block;
        width: 100px;
        height: 100px;
        font-size: 48px;
        margin-bottom: 10px;
    }

    .upload-pic {
        margin-top: 10px;
    }

    .name-surname,
    .location,
    .age,
    .challenges {
        font-size: 18px;
        margin-bottom: 10px;
    }
    //NAVBAR
    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: #f2f2f2;
    }

    .navbar-link {
        margin-right: 10px;
    }
    //WORKOUT PAGE
    .workout-page {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: $main-color;
        flex-direction: column;

        h2 {
            color: $text;
        }
    }

    .workout-card {
        background-color: white;
        color: black;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
        margin-bottom: 10px;
        display: flex;
        align-items: flex-start;
        width: 300px;
    }

    .workout-card h3 {
        height: 60px;
        padding: 10px;
    }

    .workout-card:hover {
        background-color: #f2f2f2;
        cursor: pointer;
    }

    .workout-card:active {
        background-color: #d9d9d9;
    }


    .workout-link {
        text-decoration: none;
    }

    .workout-card-locked {
        background-color: white;
        color: darkgray;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
        margin-bottom: 10px;
    }

    .workout-info {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: $main-color;
        flex-direction: column;
    }

    .workout-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start; /* Align items to the left */
        margin-top: 20px;
    }

    .workout-container h3 {
        text-align: left; /* Move the title to the left */
    }

    .workout-container .workout-card {
        display: flex;
        align-items: flex-start;
    }

    .workout-container .workout-card .workout-image-container {
        display: flex;
        align-items: flex-start;
    }

    .workout-details {
        display: flex;
        margin-bottom: 20px;
    }

    .workout-box {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        margin-right: 10px;
    }

    .workout-button {
        background-color: white;
        border: none;
        color: blueviolet;
        padding: 8px 12px;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
    }

    .workout-dropdown {
        margin-bottom: 20px;
    }

    .workout-select {
        padding: 10px;
        font-size: 16px;
        border: 2px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        width: 200px;
    }

    .workout-select:focus {
        outline: none;
        border-color: #5c9ead;
        box-shadow: 0 0 5px #5c9ead;
    }

    .workoutpageImage1 {
        width: 43%;
        height: auto;
        border-radius: 10px;
        align-self: flex-start;
        margin-left: 174px;
    }

    .workoutpageImage2 {
        width: 38%;
        height: auto;
        border-radius: 10px;
        align-self: flex-start;
        margin-left: 174px;
    }

    .workoutpageImage3 {
        width: 49%;
        height: auto;
        border-radius: 10px;
        align-self: flex-start;
        margin-left: 174px;
    }

    .workout-image-container {
        position: relative;
    }

    .workout-image-overlay {
        width: 160px;
        position: absolute;
        bottom: 50px;
        left: -10px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px;
        border-radius: 5px;
    }

    .workout-image-overlay2 {
        width: 160px;
        position: absolute;
        bottom: 37px;
        left: -10px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px;
        border-radius: 5px;
    }

    .arrow {
        display: inline-block;
        margin-right: 5px;
    }

    .workout-image-overlay p {
        margin: 0;
    }
    //workout list
    .workout-list-p {
        text: white;
    }
    //workout info page
    .workout-info1 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: $main-color;
        flex-direction: column;
    }

    .workout-container1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .workout-box-main1 {
        background-color: white;
        color: blueviolet;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .workout-image-container1 img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .workout-details1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 100%;
    }

    .workout-box1 {
        flex: 1;
        background-color: white;
        color: blueviolet;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        margin-right: 10px;
    }

    .start-button1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .start-workout-button1 {
        background-color: white;
        border: none;
        color: blueviolet;
        padding: 8px 12px;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
    }

    .workoutpageImage1_2 {
        width: 43%;
        height: auto;
        border-radius: 10px;
        align-self: flex-start;
        margin-left: -8px;
    }
    //workout
    .workout2 {
        background-color: #273939;
        padding: 20px;
        min-height: 100vh;
    }

    .workout-item2 {
        margin-bottom: 20px;
        position: relative;
    }

    .image-container2 {
        background-color: white;
        border-radius: 10px;
        overflow: hidden;
    }

    .workout-image2 {
        width: 100%;
        height: auto;
    }

    .description-container {
        padding: 10px;
        background-color: white;
        position: relative;
        z-index: 1;
    }

    .workout-description {
        margin-top: 0;
    }


    .workout_title {
        margin-top: 66px;
    }

    .loading-bar {
        width: 100%;
        height: 20px;
        background-color: #273939;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 9999;
    }

    .loading-bar-progress {
        height: 100%;
        background-color: #f2f2f2;
        width: 0;
        transition: width 0.3s;
    }


    @keyframes loading {
        0% {
            width: 0;
        }

        100% {
            width: 100%;
        }
    }
    // Well-done
    .well-done {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #273939;
    }

    .well-done-text {
        font-family: Impact, sans-serif;
        font-size: 48px;
        color: white;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
        transform: skew(-10deg);
    }
    // NUTRITION PAGE
    .nutrition-page {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: $main-color;
        flex-direction: column;

        .h2 {
            position: absolute;
            width: 50%;
            height: 50%;
            top: 0;
            left: 10px;
            color: white;
        }
    }

    .meal-card {
        background-color: white;
        color: blueviolet;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
        margin-bottom: 10px;
    }

    .meal-card:hover {
        background-color: #f2f2f2;
        cursor: pointer;
    }

    .meal-card:active {
        background-color: #d9d9d9;
    }


    .recipe-link {
        text-decoration: none;
    }

    .meal-card-locked {
        background-color: white;
        color: darkgray;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
        margin-bottom: 10px;
    }

    .nutrition-dropdown {
        margin-bottom: 20px;
    }

    .recipe-info {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: $main-color;
        flex-direction: column;
    }

    .recipe-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .recipe-box-main1 {
        background-color: white;
        color: blueviolet;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }

    .recipe-image-container1 img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .recipe-details1 {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 100%;
    }

    .recipe-box1 {
        flex: 1;
        background-color: white;
        color: blueviolet;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        margin-right: 10px;
    }

    .start-button1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .start-recipe-button1 {
        background-color: white;
        border: none;
        color: blueviolet;
        padding: 8px 12px;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
    }

    .recipepageImage1_2 {
        width: 43%;
        height: auto;
        border-radius: 10px;
        align-self: flex-start;
        margin-left: -8px;
    }

    h2 {
        color: $text;
    }

    .start-button {
        text-align: center;
    }

    .start-recipe-button {
        background-color: white;
        border: none;
        color: blueviolet;
        padding: 12px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    .recipe {
        padding: 20px;
        background-color: $main-color;
        text: $text;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .recipe h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .ingredient-list ul {
        list-style-type: none;
        padding: 0;
    }

    .ingredient-list label {
        display: block;
        margin-bottom: 5px;
    }

    .instructions {
        flex-grow: 1;
    }

    .instructions ol {
        padding-left: 20px;
    }

    .instructions ol li {
        margin-bottom: 0px;
    }

    .rimg1 {
        height: auto;
        border-radius: 10px;
        align-self: flex-start;
        margin-left: -8px;
    }

    .additional-div.flex-container {
        display: flex;
        align-items: center;
    }

    .additional-div.flex-container h2 {
        margin-right: 10px;
    }

    .additional-div.flex-container img {
        max-width: 100px;
        height: auto;
    }

    .workout {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: $main-color;
        flex-direction: column;
        color: $text;
    }

    .workout-image {
        width: 172px;
        height: auto;
    }
}