// DarkSlateGray
$main-color: #273939;
$second-main-color: #182323;
$form-text: rgba(195, 217, 212, 0.952);
$text: rgb(239, 235, 235);
$heading: 'Helvetica', sans-serif;
$link-color: rgba(111, 205, 210, 0.637);

.app {
    font-family: 'Times New Roman', Times, serif;

    .container {

        // Calendar page
        .calendar{
            background-color: $main-color;
            color: $text;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $main-color;

            

            .popup{
                font-size: 17px;
                position: absolute;
                background-color: rgba(35, 42, 37, 0.93);
                width: 70%;
                height: 40%;
                color: white;
                border-radius: 10px;
                box-shadow: 2px 2px 5px rgb(22, 20, 20);
                padding: 20px;
                margin: 10px;
            }

            .fa-arrow-circle-right{
                color: white;
                position: absolute;
                right: 20px;
                top: 120px;
                font-size: 35px;
            }

            .btn-close{
                padding: 15px;
                width: 100px;
                position: absolute;
                bottom: 30px;
                right: 10%;
            }

            .cal{
                border-radius: 10px;
                box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.168);
                width: 90%;
                padding: 20px;
            }

           

            .calendar-header{
                font-family: $heading;
                font-size: 28px;
                margin-left: 30px;
                position: absolute;
                top: -12px;
                left: 45px;
            }

            
            

        }

        .navbar-div{
        
            position: fixed;
            bottom: 0%;

            .navbar{
                background-color: $second-main-color;
                padding: 20px;
            }
            .icon{
                font-size: 20px;
                padding-right: 50px;
                color: white;
            }
            .iconLast{
                font-size: 20px;
                color: white;
            }
            .icon:hover, .iconLast:hover{
                color: rgba(255, 255, 255, 0.708);
                text-shadow: 2px 2px 5px white;
            }
        }

        /** CONNECTIONS */
        .connections{
            background-color: $main-color;
            background-color: $main-color;
            color: $text;
            display: flex;
            height: 100vh;
            align-items: center;
            justify-content: center;
            padding: 20px;

            .header{
                position: absolute;
                top:60px;
                left: 30px;
                font-size: 20px;
                font-family: $heading;
            } 
            .search-bar{
                position: absolute;
                top:130px;
                left: 30px;
                height: 30px;

                .input-place, .fa-search{
                    padding: 8px;
                    
                }
                .input-place{
                    width: 230px;
                }

            }

            .search-results{
                position: absolute;
                top:200px;
                left: 30px;

                .fa-calendar, .fa-comments-o{
                    color:white;
                    font-size: 20px;
                    margin: 10px;
                }
            }

            .calendar-popup{
                position: absolute;
                top:370px;
                left: 5px;

                .fa-arrow-circle-right{
                        font-size: 20px;
                        margin-left: 20px;
                }
            }

            .popup{
                .btn-close{
                    padding: 15px;
                    width: 100px;
                    position: absolute;
                    bottom: 0px;
                    right: 0px;
                }
            }
        }
    }

}