
// DarkSlateGray
$main-color: #273939;
$second-main-color: #182323;
$form-text: rgba(195, 217, 212, 0.952);
$text: rgb(239, 235, 235);
$heading: 'Helvetica', sans-serif;
$link-color: rgba(111, 205, 210, 0.637);

.app {
    font-family: 'Times New Roman', Times, serif;

    .container {
        //SIGN IN & SIGN UP page
        .auth {
            color: $text;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $main-color;



            h6 {
                font-size: 10.5px;

                s {
                    color: $link-color;
                    text-decoration: none;
                }
            }

            h1 {
                font-family: $heading;
                font-size: 30px;
            }

            .form {
                border: 1px solid 182323;
                border-radius: 5px;
                box-shadow: 0.5px 1px 6px rgba(136, 145, 138, 0.529);
                background-color: $second-main-color;
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 35px;


                input {
                    color: $form-text;
                    background-color: $second-main-color;
                    padding: 10px;
                    border: none;
                    border-bottom: 1px solid gray;
                    padding-left: 10px;
                }

                i {
                    padding: 7px;
                }

                button {
                    width: 100%;
                    margin-top: 18px;
                    padding: 7px;
                    font-size: 12px;
                    color: $second-main-color;
                }
            }
            // Autentication homepage
            .hp {
                width: 60%;

                i:hover {
                    color: $second-main-color;
                    text-shadow: 1px 1px 5px rgba(245, 245, 245, 0.689);
                }

                p {
                    font-size: 13px;
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .sign-in-icons {
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    i {
                        margin-left: 10px;
                        margin-right: 10px;
                        font-size: 35px;
                    }
                }


                .logo {
                    margin-bottom: 10px;

                    h3 {
                        font-family: $heading;
                        font-size: 15px;
                    }

                    img {
                        width: 285px;
                        height: auto;
                        position: relative;
                        left: -14%;
                        right: 20%;
                        margin-bottom: 30px;
                    }
                }

                button {
                    width: 100%;
                    margin-top: 18px;
                    padding: 20px;
                    font-size: 12px;
                    color: $second-main-color;
                }
            }

            button:hover {
                color: white;
                background-color: $second-main-color;
                border: none;
                border-radius: 5px;
                box-shadow: 1px 1px 4px rgba(142, 142, 142, 0.288);
            }
        }
        // HOMEPAGE
        .home {
            .acc-icon {
                font-size: 35px;
                position: absolute;
                top: 30px;
                right: 30px;
                color: white;
            }

            .acc-icon:hover {
                color: $second-main-color;
                text-shadow: 1px 1px 5px rgba(245, 245, 245, 0.689);
            }

            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100vh;
            background-color: $main-color;
            flex-direction: column;


            button {
                color: $second-main-color;
                width: 216px;
                height: 54px;
                margin: 7px;
            }

            button:hover {
                color: white;
                background-color: $second-main-color;
                border: none;
                border-radius: 5px;
                box-shadow: 1px 1px 4px rgba(142, 142, 142, 0.288);
            }
        }
        // WORKOUT & NUTRITION PLAN FORM
        .plan-form {
            color: $text;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $main-color;

            h4 {
                font-family: $heading;
                font-size: 28px;
                margin-left: 30px;
                position: absolute;
                top: 6%;
            }

            button {
                width: 290px;
                height: 54px;
                color: $second-main-color;
                font-size: 12px;
                position: absolute;
                bottom: 15%;
                left: 10%;
            }

            button:hover {
                color: white;
                background-color: $second-main-color;
                border: none;
                border-radius: 5px;
                box-shadow: 1px 1px 4px rgba(142, 142, 142, 0.288);
            }
        }

        .forms-header {
            background-color: $main-color;

            i {
                color: white;
                font-size: 35px;
                position: absolute;
                top: 25px;
                left: 25px;
                color: white;
            }

            i:hover {
                color: $second-main-color;
                text-shadow: 1px 1px 5px rgba(245, 245, 245, 0.174);
            }
        }

        .q {
            color: $text;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: $main-color;

            .header {
                font-family: $heading;
                font-size: 28px;
                position: absolute;
                top: 6%;
            }

            p {
                position: absolute;
                top: 34%;
                left: 10%;
                font-size: 18px;
            }

            .form {
                position: absolute;
                left: 20%;
                font-size: 15px;
            }

            .b1 {
                width: 40%;
                height: 54px;
                position: absolute;
                bottom: 40px;
                right: 7%;
            }

            .b1:hover, .b2:hover {
                color: white;
                background-color: $second-main-color;
                border: none;
                border-radius: 5px;
                box-shadow: 1px 1px 4px rgba(142, 142, 142, 0.288);
            }


            .b2 {
                width: 40%;
                height: 54px;
                position: absolute;
                bottom: 40px;
                left: 7%;
            }
        }
    }

    .img {
        width: 200px;
        height: auto;
    }

    .img1 {
        width: 279px;
        height: auto;
    }

    .img2 {
        width: 279px;
        height: auto;
    }

    .img3 {
        width: 278px;
        height: auto;
    }

    .img4 {
        width: 278px;
        height: auto;
    }

    .img5 {
        width: 272px;
        height: auto;
    }

    .img6 {
        width: 280px;
        height: auto;
    }

    .account-page {
        color: $text;
        height: 95vh;
        background-color: $main-color;
    }

    .center-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
    }

    .account-pic {
        display: block;
        width: 100px;
        height: 100px;
        font-size: 48px;
        margin-bottom: 10px;
    }

    .upload-pic {
        margin-top: 10px;
    }

    .name-surname,
    .location,
    .age,
    .challenges {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background-color: #f2f2f2;
    }

    .navbar-link {
        margin-right: 10px;
    }

    .workout-page {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: $main-color;
        flex-direction: column;

        h2 {
            color: $text;
        }
    }

    .workout-card {
        background-color: white;
        color: blueviolet;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
        margin-bottom: 10px;
    }

    .workout-card:hover {
        background-color: #f2f2f2;
        cursor: pointer;
    }

    .workout-card:active {
        background-color: #d9d9d9;
    }


    .workout-link {
        text-decoration: none;
    }

    .workout-card-locked {
        background-color: white;
        color: darkgray;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
        margin-bottom: 10px;
    }

    .workout-info {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: $main-color;
        flex-direction: column;
    }

    .workout-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .workout-details {
        display: flex;
        margin-bottom: 20px;
    }

    .workout-box {
        background-color: white;
        padding: 10px;
        border-radius: 5px;
        margin-right: 10px;
    }

    .workout-button {
        background-color: white;
        border: none;
        color: blueviolet;
        padding: 8px 12px;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
    }

    h2 {
        color: $text;
    }

    .start-button {
        text-align: center;
    }

    .start-workout-button {
        background-color: white;
        border: none;
        color: blueviolet;
        padding: 12px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    .workout {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background-color: $main-color;
        flex-direction: column;
        color:$text;
    }

    .workout-image {
       
        width: 172px;
        height: auto;
    }
}
